.App {
  width: 100%;
  height: 100%;
}

.App-header {
  color: rgb(34 197 94);
  font-size: 50px;
  font-weight: 600;
  transform: translate3d(0, 0, 0);
  animation: text-animation 0.5s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
  animation-iteration-count: infinite;
}


@keyframes text-animation {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 20px, 0);
  }
}